NEXT_PUBLIC_URL = "http://localhost:3000"

DATABASE_URL = "postgresql://example.com"

PANORAMAS_TENANT_ID
PANORAMAS_CLIENT_ID
PANORAMAS_CLIENT_SECRET
POWERBI_WORKSPACE_ID

BETTER_AUTH_URL = "http://localhost:3000"
BETTER_AUTH_SECRET = "senha-super-segura"

MICROSOFT_CLIENT_ID
MICROSOFT_CLIENT_SECRET

RESEND_API_KEY